* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  width: auto;
  height: auto;
}

/* Main Content for soal1a */

.my-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.input-baris,
.input-kolom {
  width: auto;
  height: 25px;
  margin: 0 0 0 30px;
  padding: 9px;
  border: 1px black solid;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.my-another-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.after-input {
  position: relative;
  width: auto;
  height: 25px;
  margin: 0 30px;
  padding: 9px;
  border: 1px black solid;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Main Content for soal1a end */

/* Main Content for soal 2 */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.search-container {
  margin: 20px 0;
}

.search-box {
  width: auto;
  height: 30px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid black;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 40%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.search-submit {
  
}

/* Main Content for soal 2 end */
